###**M. Zohaib Aslam Khan**
####***Bscs2019-57***

---
###Q NO1

In [4]:
import pandas as pd
df = pd.read_csv("/content/diabetes.csv")
df.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [2]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [6]:
Y = df.Outcome
X = df.drop("Outcome",axis=1)
X.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=1)

In [19]:
classifier = DecisionTreeClassifier(max_depth=100,splitter="random",criterion="entropy")
classifier = classifier.fit(X_train, Y_train)
# predict
y_pred = classifier.predict(X_test)
print(y_pred)

[0 0 0 0 1 0 0 0 0 0 1 0 1 1 0 1 1 0 0 0 1 0 0 0 0 1 0 1 0 1 1 1 0 1 0 1 0
 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 1 1 1 0 0 1 0 1 1 1 1 0
 1 1 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1
 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 0 1 1 0 0 0 1 0 0 1 0 0 0 1 1 0 0
 1 0 0 1 0 1]

In [20]:
# confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test, y_pred)
print(confusion_matrix(Y_test, y_pred))

# accuracy
print("Accuracy:", metrics.accuracy_score(Y_test,y_pred))

[[82 17]
 [19 36]]
Accuracy: 0.7662337662337663



---



---



---



---

###Q NO  2

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=1)

In [22]:
from sklearn import svm

In [41]:
#model
model = svm.SVC(kernel='rbf',C=1.2)
model.fit(X_train,Y_train)
y_pred = model.predict(X_test)

In [42]:
from sklearn.metrics import accuracy_score                        #rbf accuracy is higher than all other
accuracy  = accuracy_score(Y_test,y_pred)
accuracy

0.7857142857142857

##It is more than Decision tree classifier